
/*=============================================================================
 * General Sytles
 * ==========================================================================*/

 #section-header {
  background: #3E3E3E;
 }

.zone-highlighted,
.zone-content-wrapper ,
.zone-postscript-wrapper ,
.region-postscript-first ,
.region-postscript-second {
  margin-bottom: 10px;
}

.page-title ,
#page-title {
  margin: 10px 0px 0px 0px;
  padding: 0px 10px;
}

th {
  white-space: nowrap;
}

tr:hover td a:link ,
tr:hover td a:visited {
  color: #FFFFFF;
  text-decoration: underline;
}

table tbody tr td, 
table tbody tr td, 
table tbody tr.odd td, 
table tbody tr.even td, 
table tbody tr.odd td.active, 
table tbody tr.even td.active {
  vertical-align: top;
}

/*=============================================================================
 * Header Sytles
 * ==========================================================================*/

/*================================ zone-branding ============================*/


/*================================ zone-featured ============================*/

.zone-featured {
  background: #3E3E3E;
  color: #FFFFFF;
  height: 27px;
  /*overflow: hidden;*/
}

.zone-featured .nice-menu {
  float: right;
}

.zone-featured .nice-menu ,
.zone-featured .nice-menu li ,
.zone-featured .nice-menu li ul {
  border: none;
}

.zone-featured .nice-menu li {
  background-color: #3E3E3E;
}

.zone-featured .nice-menu li.menuparent {
  position: relative;
}

.zone-featured .nice-menu li.menuparent.menu-path-nolink {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: thin solid #555555;
  border-right: thin solid #555555;
}

.zone-featured .nice-menu li.menuparent.menu-path-nolink > a {
  padding-left: 10px;
  padding-right: 10px;
}

.zone-featured .nice-menu li.menuparent:hover ,
.zone-featured .nice-menu li.menuparent:hover ul li {
  background-color: #222222;
}

.zone-featured .nice-menu li.menuparent ul {
  position: absolute;
  top: 27px;
  left: auto;
  right: 0px;
}

.zone-featured .nice-menu li a {
  padding: 5px 5px;
  color: #FFFFFF;
}

.zone-featured .nice-menu li a:hover {
  text-decoration: none;
  background-color: #000000;
}

.zone-featured .nice-menu li a.map ,
.zone-featured .nice-menu li a.list ,
.zone-featured .nice-menu li a.graphs {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 13px;
  height: 17px;
  width: 21px;
  overflow: hidden;
  color: transparent;
}

.zone-featured .nice-menu li a.map {
  background-image: url(../images/user-menu-icon-map.png);
}

.zone-featured .nice-menu li a.list {
  background-image: url(../images/user-menu-icon-list.png);
}

.zone-featured .nice-menu li a.graphs {
  background-image: url(../images/user-menu-icon-graph.png);
  margin-right: 5px;
}

.zone-featured .nice-menu li.menuparent li {
  border-top: thin solid #555555;
  width: 200px;
}

.zone-featured .nice-menu li.menuparent li a {
  padding: 10px 5px 10px 33px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 10px 50%;
  background-size: auto 14px;
}

.zone-featured .nice-menu li.menuparent.menu-path-nolink li a.csv {
  background-image: url(../images/user-menu-icon-csv.png);
}

.zone-featured .nice-menu li.menuparent.menu-path-nolink li a.kml {
  background-image: url(../images/user-menu-icon-kml.png);
}

.zone-featured .nice-menu li.menuparent.menu-path-nolink li a.rss {
  background-image: url(../images/user-menu-icon-rss.png);
}

.zone-featured .nice-menu li.menuparent.menu-path-user li.menu-path-node-add-fieldtrip a {
  background-image: url(../images/user-menu-icon-add.png);
}

.zone-featured .nice-menu li.menuparent.menu-path-user li.menu-path-user-me-edit a {
  background-image: url(../images/user-menu-icon-edit.png);
}

/*=============================================================================
 * Content Styles
 * ==========================================================================*/

.zone-content .region-inner {
  padding: 20px;
}



.page-images .zone-content-wrapper ,
.page-locations .zone-content-wrapper ,
.page-adminunits .zone-content-wrapper ,
.page-sitereports .zone-content-wrapper ,
.page-images .zone-content .grid-12 ,
.page-locations .zone-content .grid-12 ,
.page-adminunits .zone-content .grid-12 ,
.page-sitereports .zone-content .grid-12 ,
.page-images .zone-content .grid-12 .region-inner ,
.page-locations .zone-content .grid-12 .region-inner ,
.page-adminunits .zone-content .grid-12 .region-inner ,
.page-sitereports .zone-content .grid-12 .region-inner {
  padding: 0px;
  margin: 0px;
}

.zone-content .grid-8 .region-inner {
  padding: 0px 5px;
}

.zone-content .grid-8 .region-inner .block-title {
  display: none;
}

.zone-content .grid-4.region-content {
  background: #EBEBEB;
}


/*============================== summary icons ==============================*/

.node-place .field-label ,
.node-ftritem .field-label ,
.node-fieldtrip .field-label {
  padding-left: 20px;
  background-size: auto 14px;
  background-repeat: no-repeat;
  background-position: left top;
}

.node-ftritem .field ,
.node-fieldtrip .field {
  padding-bottom: 5px;
}

.field-name-taxonomy-vocabulary-7 .field-label {
  background-image: url(../images/summary-icon-report.png);
}

.field-name-field-ftritem-place .field-label {
  background-image: url(../images/summary-icon-location.png);
}

.field-name-taxonomy-vocabulary-1 .field-label {
  background-image: url(../images/summary-icon-placetype.png);
}

.field-name-field-ftritem-status .field-label {
  background-image: url(../images/summary-icon-progress.png);
}

.field-name-field-ftritem-date-visited .field-label {
  background-image: url(../images/summary-icon-date.png);
}

.field-name-field-ftritem-field-trip .field-label {
  background-image: url(../images/summary-icon-report.png);
}

.field-name-field-fieldtrip-status .field-label {
  background-image: url(../images/summary-icon-progress.png);
}

.field-name-field-fieldtrip-start-end-date .field-label {
  background-image: url(../images/summary-icon-date.png);
}

.field-name-field-fieldtrip-user .field-label {
  background-image: url(../images/summary-icon-user.png);
}

.field-name-taxonomy-vocabulary-6.field-label-inline .field-label {
  background-image: url(../images/summary-icon-adminunit.png);
}

.region-content .block-system-main {
  margin-bottom: 10px;
}

.region-content .block-views.contextual-links-region {
  padding-top: 10px;
  border-top: thin solid #CCCCCC; 
}

.region-content .block-views.contextual-links-region .views-label {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*======================= Quicktab Recent Locations ============================*/





/*======================= Quicktab Recent Locations ============================*/

.view-dvtrc-locations {

}

.view-dvtrc-locations .views-field-view {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: thin solid #CCCCCC;
}

.view-dvtrc-locations .views-field-view span.views-label-view ,
.view-dvtrc-locations .views-field-nothing-1 {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.view-dvtrc-locations .views-field-field-ftritem-images ,
.view-dvtrc-locations .views-field-nothing-1 .latest-report-image {
  display: inline-block;
}

.view-dvtrc-locations .views-field-field-ftritem-images {
  float: left;
  margin-right: 10px;
}

.view-dvtrc-locations .views-field-field-ftritem-date-visited {

}

.view-dvtrc-locations .views-label-title ,
.view-dvtrc-locations .views-label-field-ftritem-date-visited {
  padding-left: 20px;
  padding-bottom: 5px;
  background-size: auto 14px;
  background-repeat: no-repeat;
  background-position: left top;
}

.view-dvtrc-locations .views-label-title {
  background-image: url(../images/summary-icon-report.png);
}

.view-dvtrc-locations .views-label-field-ftritem-date-visited {
  background-image: url(../images/summary-icon-date.png);
}

.view-dvtrc-locations .views-field-field-ftritem-date-visited .field-content {
  display: inline-block;
}

.view-dvtrc-locations .views-label-field-ftritem-public-summary {
  display: none;
}

.view-dvtrc-locations .views-field .views-field-field-ftritem-public-summary {
  margin-top: 10px;
}

.view-dvtrc-locations .views-field-nothing {
  clear: both;
  margin-top: 20px;
}

.views-field-taxonomy-vocabulary-1 .views-label-taxonomy-vocabulary-1 ,
.views-field-taxonomy-vocabulary-1 .field-content {
  display: inline-block;
}

.view-dvtrc-locations a {
  display: inline-block;
}

.view-dvtrc-locations a .dv-seeall {
  color: #FFFFFF;
  background-color: #777777;
  border-radius: 2px;
  display: inline-block;
  padding: 8px 10px;
}

.view-dvtrc-locations a:hover .dv-seeall {
  background-color: #555555;
}

.quicktabs-tabpage .item-list ul li ,
.quicktabs-tabpage ul.links {
  margin: 0px;
  padding: 0px;
}

.quicktabs-tabpage ul.links li {
  list-style-image: url(../images/bullet.png);
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
  padding-bottom: 5px;
}

.quicktabs-tabpage ul.links li.level-1 {
  list-style: none;
  padding: 0px;
}


/*============================== image gallary ================================*/

.region-postscript-second {
  background-color: #555555;
  color: #FFFFFF;
}

.region-postscript-second .item-list ul {
  margin: 15px 14px;
}

.region-postscript-second .item-list ul li {
  margin: 0px 5px;
  display: inline-block;
  position: relative;
}

.region-postscript-second .item-list ul li.first {
  margin-left: 0px;
}

.region-postscript-second .item-list ul li.last {
  margin-right: 0px;
}

.region-postscript-second .item-list ul li img.adaptive-image {
  width: 185px;
}

.views-field-field-ftritem-images-3 {
  position: absolute;
  left: 5px;
  bottom: 10px;
}

.views-field-field-ftritem-images-3 ,
.views-field-field-ftritem-images-3 a {
  width: 32px;
  height: 32px;
  display: inline-block;
}

.views-field-field-ftritem-images-3 a {
  background: rgba(51, 51, 51, 0.7) url(../images/gallery-icon-download.png) no-repeat 50% 50%;
  background-size: 16px 16px;
}

.views-field-field-ftritem-images-3 a:hover {
  background-color: #111111;
}

.views-field-field-ftritem-images-3 img {
  display: none;
}

.views-field-field-ftritem-images-1 ,
.views-field-field-ftritem-images-2 {
  display: none;
}

/*================================ list-page =================================*/

article.comment {
  width: 100%;
  overflow: hidden;
  border-top: thin solid #CCCCCC;
  padding-top: 10px;
  padding-bottom: 5px;
}

.indented {
  margin-right: 30px;
}

.indented article.comment {
  padding: 10px;
  background-color: #EBEBEB;
  margin: 5px 10px 10px 10px;
  border: none;
}

article.comment header {
  display: none;
}

article.comment .user-picture {
  float: left;
  margin-right: 10px;
}

article.comment .user-picture ,
article.comment .user-picture a {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #CCCCCC;
  display: inline-block;
}

article.comment .user-picture a img {
  max-width: 50px;
  max-height: 50px;
  display: inline-block;
}

article.comment .comment-submitted-main {
  display: inline-block;
  padding: 10px 10px 5px 10px;
}

article.comment .comment-submitted-main p {
  margin-bottom: 5px;
}

article.comment .comment-submitted {
  font-weight: bold;
}

article.comment nav {
  clear: both;
  padding-top: 5px;
  overflow: hidden;
}

article.comment nav ul {
  float: right;
  margin: 0;
  margin-right: 10px;
}

.indented article.comment nav ul {
  margin-right: 0px;
}

article.comment nav ul ,
article.comment nav ul li ,
article.comment nav ul li a {
  display: inline-block;
}

article.comment nav ul li {
  margin: 0px;
  margin-left: 15px;
  padding: 0px;
}

article.comment nav ul li a {
  margin: 0px;
  border-radius: 0px;
  border: none;
  background: transparent;
  padding-left: 28px;
  font-weight: normal;
  text-transform: capitalize;
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: auto 16px;
  color: #777777;
}

article.comment nav ul li a:hover {
  background-position: left 50%;
  background-repeat: no-repeat;
  background-size: auto 18px;
  background-color: transparent;
  color: #A52A2A;
}

article.comment nav ul li.comment-delete a {
  background-image: url(../images/comment-icon-delete.png);
  background-position: 5px 50%;
}

article.comment nav ul li.comment-delete a:hover {
  background-image: url(../images/comment-icon-delete-active.png);
  background-position: 5px 50%;

}

article.comment nav ul li.comment-edit a {
  background-image: url(../images/comment-icon-edit.png);
}

article.comment nav ul li.comment-edit a:hover {
  background-image: url(../images/comment-icon-edit-active.png);

}

article.comment nav ul li.comment-reply a {
  background-image: url(../images/comment-icon-reply.png);
}

article.comment nav ul li.comment-reply a:hover {
  background-image: url(../images/comment-icon-reply-active.png);

}

article.comment nav ul li.hidden_comment_hide a {
  background-image: url(../images/comment-icon-hide.png);
}

article.comment nav ul li.hidden_comment_hide a:hover {
  background-image: url(../images/comment-icon-hide-active.png);

}

.title.comment-form {
  border-top: thin solid #CCCCCC;
  padding-top: 20px;
}

form.comment-form .form-item.form-type-item {
  display: none;
}


/*================================ list-page =================================*/


.zone-content-wrapper .grid-9.region-content .region-content-inner .view-empty p {
  font-size: 1.1em;
  color: #555555;
  text-align: center;
  width: 500px;
  padding: 100px 20px 20px 20px;
  margin: 100px auto 200px auto;
  background: #CCCCCC url(../images/search-results-bg.png) no-repeat 50% 20px;
  background-size: 70px auto;
}


/*================================ page-user =================================*/

.page-user .region-content {
  min-height: 190px;
}

.ds-1col.user-profile.view-mode-full {
  background-color: #555555;
  position: relative;
  padding: 10px 10px 10px 170px;
  margin-top: 65px;
  min-height: 35px;
  border-bottom: 2px solid #EA0001;
}

.ds-1col.user-profile.view-mode-full .field {
  display: inline-block;
  padding: 5px;
  padding-right: 25px;
  color: #FFFFFF;
}

.ds-1col.user-profile.view-mode-full .field .field-label {
  font-weight: normal;
  color: #BBBBBB;
  padding-right: 5px;
}

.ds-1col.user-profile.view-mode-full .field-name-field-fieldtrip-button {
  display: none;
}

.username-title-wrapper {
  color: #333333;
  position: absolute;
  display: inline-block;
  top: -40px;
  font-size: 2.3em;
}

.ds-1col.user-profile.view-mode-full .field a {
  color: #FFFFFF;
  text-decoration: underline;
}

.ds-1col.user-profile.view-mode-full .field a:hover {
  text-decoration: none;
}

.username-title-wrapper .field .field-items {
  margin-bottom: 0;
  line-height: 20px;
}

.ds-1col.user-profile.view-mode-full .field-name-field-user-firstname ,
.ds-1col.user-profile.view-mode-full .field-name-field-user-surname ,
.ds-1col.user-profile.view-mode-full .field-name-field-user-title {
  color: #333333;
  padding: 0 5px;
  float: left;
  font-weight: normal;
}

.ds-1col.user-profile.view-mode-full .field-name-field-user-title {
  font-size: 20px;
}

.ds-1col.user-profile.view-mode-full .field-name-field-user-title .field-label {
  display: none;
}

.ds-1col.user-profile.view-mode-full .field-name-field-user-title .field-items {
  border-left: thin solid #333333;
  padding-left: 15px;
}

.ds-1col.user-profile.view-mode-full .field-name-ds-user-picture {
  position: absolute;
  left: 10px;
  top: -60px;
  background: #FFFFFF;
  padding: 3px;
}

.ds-1col.user-profile.view-mode-full .field-name-ds-user-picture .field-items {
  background-color: #EEEEEE;
  border: 5px solid #555555;
  border-radius: 5px;
}

.ds-1col.user-profile.view-mode-full .field-name-ds-user-picture .field-items img {
  width: 130px;
  height: auto;
  margin: 0;
}

.ds-1col.user-profile.view-mode-full .field-name-field-term-icon {
  padding: 0 1px;
}

.page-user .region-sidebar-first {
  background: transparent;
  color: inherit;
}



/*================================= Custom Quicktab ================================*/

.grid-8 .quicktabs-wrapper .quicktabs_main .quicktabs-tabpage {
  margin: 10px;
}

.quicktabs-wrapper ul.quicktabs-tabs {
  float: none;
  margin-left: 10px;
}

.quicktabs-wrapper ul.quicktabs-tabs li {
  margin-right: 0px;
}

.quicktabs-wrapper ul.quicktabs-tabs li.active a ,
.quicktabs-wrapper ul.quicktabs-tabs li.active a:hover {
  background-color: #FFFFFF;
  border-bottom: thin solid #FFFFFF;
}

/*=====================================================================================
 * Ctools Buttons
 * ==================================================================================*/

.ctools-button {
  background-color: #555555;
  border: none;
}

.grid-4 .ctools-button {
  right: 20px;
  position: absolute;
}

td .ctools-wrapper {
  width: 125px;
  position: relative;
}

td .ctools-wrapper .ctools-button {
  position: absolute;
}

td .ctools-wrapper .ctools-button li {
  width: 106px;
}

.ctools-button-processed .ctools-content {
  padding: 0px;
}

.node .ctools-button ul {
  padding: 0px;
  margin: 0px;
}

.ctools-button li {
  padding: 0px;
}

.ctools-link a:link {
  color: #FFFFFF;
}

.ctools-link:hover {
  background-color: #333333;
  height: 27px;
}

.ctools-button li a:link ,
.ctools-button li a:visited ,
tr:hover .ctools-button li a:link ,
tr:hover .ctools-button li a:visited {
  color: #FFFFFF;
  padding: 5px 10px;
  white-space: nowrap;
  text-decoration: none;
}

.ctools-button li a:hover ,
.ctools-button td li a:hover {
  background-color: #333333;
  text-decoration: none;
}


/*=====================================================================================
 * Progress Bar
 * ==================================================================================*/

 .ui-widget-content {
  border: thin solid #555555;
  background-image: none;
 }

.devtrac7-progress-bar {
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0;
}

.devtrac7progressbar {
  height: 10px;
  border-radius: 0;
}

.devtrac7-progress-bar .devtrac7progressbar-total {
  position: relative;
  top: 0px;
  background: #FFFFFF;
  border-radius: 0;
}

.devtrac7-progress-bar .devtrac7progressbar-required {
  position: relative;
  top: -12px;
  border-radius: 0;
}

.devtrac7-progress-bar .devtrac7progressbar-req-of-tot {
  position: relative;
  top: -24px;
  border-radius: 0;
}

.devtrac7-progress-bar .devtrac7progressbar-optional-descr ,
.devtrac7-progress-bar .devtrac7progressbar-required-descr {
  position: absolute;
  top: 15px;
  text-transform: capitalize;
  color: inherit;
  padding-left: 17px;
  background-position: left 3px;
  background-repeat: no-repeat;
  background-size: 12px;
}

.devtrac7-progress-bar .devtrac7progressbar-optional-descr {
  left: 100px;
  background-image: url(../images/progressbar-icon-optional.png);
}

.devtrac7-progress-bar .devtrac7progressbar-required-descr {
  left: 0px;  
  background-image: url(../images/progressbar-icon-required.png);
}


/*======================== Table Progress Bar Styles ========================*/

table .devtrac7progressbar-total {
  top: 0px;
}

table .devtrac7progressbar-required {
  top: -12px;
}

table .devtrac7progressbar-req-of-tot {
  top: -24px;
}

table .devtrac7-progress-bar {
  margin-top: 0px;
  height: 13px;
}

table .devtrac7progressbar-optional-descr , 
table .devtrac7progressbar-required-descr {
  display: none;
}

table .devtrac7progressbar-req-of-tot .ui-widget-header {
  border-radius: 0;
}

/*=====================================================================================
 * Block Facetapi Styles
 * ==================================================================================*/

div .collapsiblock a ,
div .collapsiblockCollapsed a {
  background-image: none;
}

.block-facetapi.contextual-links-region {}

.block-facetapi.contextual-links-region a {
  color: #FFFFFF;
  display: block;
}

.block-facetapi.contextual-links-region a:hover {
  text-decoration: none;
}

.block-current-search .current-search-item .item-list {
  display: inline-block;
}

.block-current-search .current-search-item li {
  display: inline-block;
  margin: 0px 0px 5px 5px;
  font-size: 0.9em;
  border: none;
}

.block-current-search .current-search-item li a {
  display: inline-block;
  padding: 5px 10px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.5);
}

.block-current-search .current-search-item li a:hover {
  padding: 4px 9px;
  border: thin solid #999999;
  text-decoration: none;
}

.block-facetapi {
  margin: 0px 0px 5px 0px;
}

.block-facetapi form {
  margin-top: 5px;
  margin-bottom: 5px;
}

.block-facetapi form input[type='textfield'] {
  margin: 0;
  padding: 5px;
}

.block-facetapi form input[type='submit'] {
  margin: 0;
}

.block-facetapi h2.block-title {
  font-weight: normal;
  background: rgba(0, 0, 0, 0.5) url(../images/collapse-icon.png) no-repeat 95% 50%;
  padding: 5px 5px 5px 15px;
  border-top: thin solid #999999;
  border-bottom: thin solid #999999;
  font-size: 1.0em;
  color: #EEEEEE;
}

.block-facetapi h2.block-title.collapsiblockCollapsed {
  background: rgba(0, 0, 0, 0.5) url(../images/collapse-icon-2.png) no-repeat 95% 50%;
}

.block-facetapi ul ,
.block-facetapi ul li {
  margin: 0;
  padding: 0;
}

.block-facetapi ul li li {
  padding-left: 10px;
}

.block-facetapi ul li {
  list-style: none;
  border-bottom: thin solid #999999;
  font-size: 0.9em;
}

.block-facetapi ul li a {
  padding: 5px 5px 5px 15px;
}

.block-facetapi ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
}


/*=====================================================================================
 * Extruderolblockpanel Styles
 * ==================================================================================*/

#Extruderolblockpanel.olControlblockpanel.extruder {
  background: transparent;
  color: #FFFFFF;
  font-family: inherit;
  font-size: inherit;
}

.ext_wrapper {
  background: rgba(0, 0, 0, 0.8);
}

.extruder.left .content {
  border: none;
  background: transparent;
  width: auto !important;
}

.extruder .text {
  background: transparent;
  font: inherit;
  color: inherit;
  padding: 10px;
  border: none;
  text-shadow: none;
}

#Extruderolblockpanel .flapLabel {
  display: none;
}

#Extruderolblockpanel.olControlblockpanel.extruder .flap {
  top: 50px;
  padding: 0;
  margin: 0;
  background: url(../images/flapTabSprite.png) no-repeat;
  background-position: 0 -60px;
  width: 30px;
  height: 60px;
  position: absolute;
  right: -30px;
  border-radius: 0;
  box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

#Extruderolblockpanel.olControlblockpanel.extruder .flap:hover {
  cursor: pointer;
}

#Extruderolblockpanel.olControlblockpanel.extruder.isOpened .flap {
  background-position: 0 0;
}

/*=====================================================================================
 * General Openlayers Styles
 * ==================================================================================*/

.olControlNoSelect .olButton:hover {
  cursor: pointer;
}

/*=====================================================================================
 * Openlayers Zoom Panel Styles
 * ==================================================================================*/

.openlayers-views-map .olControlZoomPanel {
  left: auto !important;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 75px;
}

.olControlZoomToMaxExtentItemInactive {
  display: none;
}

.olControlZoomPanel .olControlZoomInItemInactive ,
.olControlZoomPanel .olControlZoomOutItemInactive {
  width: 30px;
  height: 30px;
  margin: 5px;
  background: url(../images/map-controls-sprite.png) no-repeat !important;
}

.olControlZoomPanel .olControlZoomInItemInactive {
  background-position: 0 0 !important;
}

.olControlZoomPanel .olControlZoomOutItemInactive {
  background-position: 0 -30px !important;
}

/*===========================================================================*\
  Openlayers Control Panel Styles
\*===========================================================================*/

.olControlPanel.olControlNoSelect {
  width: 40px;
  background: none;
}

.olControlPanel.olControlNoSelect.top.right {
  top: 120px;
  right: 20px;
}

.olControlPanel.olControlNoSelect .olControlMaptextItemActive.olButton ,
.olControlPanel.olControlNoSelect .olControlMaptextItemInactive.olButton {
  width: 30px;
  height: 30px;
  background: none;
  background: url(../images/map-controls-icon-sprite.png) no-repeat;
  border-radius: 0;
  border: none;
}

.olControlPanel.olControlNoSelect .olButton[original-title="Layers"] {
  background-position: 0 -30px !important;
}

.olControlPanel.olControlNoSelect .olButton[original-title='Search Map'] {
  background-position: 0 0px !important;
}

.olControlPanel.olControlNoSelect .olButton[original-title='Site reports'] ,
.olControlPanel.olControlNoSelect .olButton[original-title='About DevTrac'] {
  background-position: 0 -120px !important;
}

.olControlPanel.olControlNoSelect .olButton[original-title='Legend'] {
  background-position: 0 -60px !important;
}

.olControlPanel.olControlNoSelect .olControlMaptextItemInactive.olButton:hover {
  border: none;
}

.olControlScaleLine.olControlNoSelect {
  top: auto;
  bottom: 18px;
  right: 20px;
}
.olControlPermalinkPlus.olControlNoSelect {
  margin: 5px;
  width: 30px;
  height: 30px;
  background: url(../images/link-icon.png) no-repeat 50% 50%;
  background-size: 30px 30px;
  right: 20px;
  top: 280px;
}

.olControlPermalinkPlus.olControlNoSelect a {
  width: 30px;
  height: 30px;
  color: transparent;
  display: block;
}

div.olControlAttribution {
  right: 20px;
  bottom: 0px;
}

/*===========================================================================*\
  Openlayers Control Control Maptext Styles
\*===========================================================================*/

.olMapViewport .olControlMaptext {
  background: none;
  background: url(../images/alpha-black-bg.png);
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 0.9em;
  border-radius: 0;
  width: 300px;
  z-index: 1020 !important;
}

.olMapViewport .olControlMaptext.bottom.right {
  bottom: auto;
  top: 25px;
  right: 70px;
  height: auto;
  max-height: 75%;
}

.olMapViewport .olControlMaptext h2.popup-title {
  border-bottom: none;
  background: none;
  background: #000;
  opacity: 0.8;
  font-size: 1.0em;
  margin: 0px;
  padding: 5px;
  padding-right: 20px;
  display: block;
  text-transform: uppercase;
}

.olMapViewport .olControlMaptext a ,
.olMapViewport .olControlMaptext p {
  color: #FFFFFF;
}

.olMapViewport .olControlMaptext .olPopupCloseBox {
  background: url(../images/closer.png) no-repeat left bottom;
  margin-top: 5px;
  margin-right: 5px;
}

/*=================================== Popup =================================*/

.openlayers-popupbox h2.popup-title a:link ,
.openlayers-popupbox h2.popup-title a:visited {
  color: #FFFFFF;
}

.openlayers-popupbox h2.popup-title a:hover {
  text-decoration: underline;
}

.olMapViewport .olControlMaptext .node-ftritem.node-unpublished.contextual-links-region.view-mode-map_popup {
  background: none;
}


.olMapViewport .olControlMaptext .field {
  padding: 5px 10px;
}

.olMapViewport .olControlMaptext .field-name-field-wikipedia.field-type-link-field.field-label-hidden a {
  background: url(../images/wiki-icon.png) no-repeat 0px 50%;
  background-size: 16px auto;
  padding-left: 21px;
  font-style: italic;
}

.olMapViewport .olControlMaptext .field-name-field-ftritem-images.field-type-image.field-label-hidden {
  float: left;
}

.olMapViewport .olControlMaptext .field-name-field-ftritem-images.field-type-image.field-label-hidden .field-items {
  margin-bottom: 0;
}

.olMapViewport .olControlMaptext .field-name-field-ftritem-images.field-type-image.field-label-hidden img {
  width: 100px;
  height: auto;
}

.olMapViewport .olControlMaptext #olplusmaptextpopup_content .taxonomy-term-description p {
  margin-bottom: 5px;
}

.olMapViewport .olControlMaptext .field-name-field-ftritem-date-visited.field-type-date.field-label-above {
  font-style: italic;
}

.olMapViewport .olControlMaptext .field-name-node-link.field-type-ds.field-label-hidden .field-items {
  margin-bottom: 0;
}

.olMapViewport .olControlMaptext .field-name-more-link.field-type-ds.field-label-hidden ,
.olMapViewport .olControlMaptext .field-name-node-link.field-type-ds.field-label-hidden {
  background: url(../images/popup-read-more.png) no-repeat 130px 0px;
  text-align: right;
  padding: 5px 10px;
  clear: both;
}

.openlayers-geosearch-popup.openlayers-geosearch-popup-name {
  color: #FFFFFF;
}

/*=============================== blockswitcher =============================*/

.olMapViewport .olControlMaptext #block-openlayers-plus-blockswitcher {
  background: none;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher {
  background: none;
  padding: 5px 10px;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher h2.layers-title {
  color: #FFFFFF !important;
  font-size: 1.2em !important;
  margin-bottom: 5px;
  font-weight: normal;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio {
  background: none;
  padding: 5px 0 5px 40px;
  height: 30px;
  margin: 2px 0;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio:hover {
  cursor: pointer;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio.OpenLayers_Layer_TMS_4 {
  background: url(../images/devtrac-maplayer-001.png) no-repeat 5px 50% !important;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio.OpenLayers_Layer_TMS_6 {
  background: url(../images/devtrac-maplayer-002.png) no-repeat 5px 50% !important;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio.activated {
  background: none;
  opacity: 0.9;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio.OpenLayers_Layer_TMS_4.activated {
  background: #000000 url(../images/devtrac-maplayer-001.png) no-repeat 5px 50%;
  
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.base .form-option.radio.OpenLayers_Layer_TMS_6.activated {
  background: #000000 url(../images/devtrac-maplayer-002.png) no-repeat 5px 50%;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.data {
  padding-left: 5px;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.data .form-option.checkbox {
  margin: 10px 0;
  padding: 0;
}

.olMapViewport .olControlMaptext .openlayers_plus-blockswitcher .layers.data .form-option.checkbox input.form-checkbox {
  margin-right: 5px;
}

/*================================= about devtrac ===============================*/
#pane_front_about_information_content {
  padding: 5px 10px;
  font-size: 0.95em;
}

#pane_front_about_information_content ul {
  margin: 0 0 10px 0;
}

#pane_front_about_information_content ul li {
  list-style: none;
  font-size: 1.2em;
  padding: 5px 5px 5px 30px;
}

#pane_front_about_information_content ul li.health {
  background: url('../images/about-health-icon.png') no-repeat 0% 50%;
  background-size: 20px 20px;
}

#pane_front_about_information_content ul li.schools {
  background: url('../images/about-educ-icon.png') no-repeat 0% 50%;
  background-size: 20px 20px;
}

#pane_front_about_information_content ul li.water {
  background: url('../images/about-water-icon.png') no-repeat 0% 50%;
  background-size: 20px 20px;
}

#block-pane-front-about-information h4 {
  margin-bottom: 5px;
}

/*================================= geosearch ===============================*/

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 {
  border: 2px solid #151515;
  margin: 5px 10px;
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 270px;
  position: relative;
  margin-bottom: 40px;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform {
  border: 2px solid #151515 !important;
  margin: 5px 10px;
  background-color: #FFFFFF !important;
  border-radius: 3px;
  width: 270px;
  position: relative;
  margin-bottom: 40px;
  padding: 0  !important;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-type-textfield ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 .form-type-textfield {
  margin: 0;
  display: inline-block;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-type-textfield {
  padding: 0 !important;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-type-textfield .description {
  display: none;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-type-textfield label ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 .form-type-textfield label {
  display: none;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform input#edit-openlayers-geosearch-query-block ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 input#edit-openlayers-geosearch-query-block--2 {
  display: inline-block !important;
  width: 235px !important;
  margin: 0 !important;
  border: none !important;
  box-shadow: 0 0 0 transparent !important;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform input#edit-openlayers-geosearch-button ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 input#edit-openlayers-geosearch-button--2 {
  padding: 3px 8px !important;
  margin: 0 !important;
  display: inline-block !important;
  float: right !important;
  height: 26px !important;
  width: 30px !important;
  background: #151515 url(../images/search-icon.png) no-repeat 50% 50% !important;
  background-size: 16px 16px !important;
  color: transparent !important;
  border-radius: 0 !important;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform input#edit-openlayers-geosearch-button:hover ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 input#edit-openlayers-geosearch-button--2:hover {
  padding: 3px 8px !important;
  margin: 0 !important;
  height: 26px !important;
  width: 30px !important;
  background: #151515 url(../images/search-icon.png) no-repeat 50% 50% !important;
  color: transparent !important;
  border-radius: 0 !important;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform div.ajax-progress.ajax-progress-throbber ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 div.ajax-progress.ajax-progress-throbber {
  width: 30px;
  position: absolute;
  top: 3px;
  right: 30px;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform div.ajax-progress.ajax-progress-throbber .message ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 div.ajax-progress.ajax-progress-throbber .message {
  display: none;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-item-openlayers-geosearch-search-by-boundingbox ,
.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform--2 .form-item-openlayers-geosearch-search-by-boundingbox {
  position: absolute;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-item-openlayers-geosearch-search-by-boundingbox {
  padding: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.olMapViewport .olControlMaptext form#openlayers-geosearch-searchform .form-item-openlayers-geosearch-search-by-boundingbox label {
  color: #FFFFFF;
  font-size: 11px;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults {
  background: none;
  border-radius: 0;
  border: none;
  color: #FFFFFF;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults #openlayersgeosearchpanels {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background: none;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults #openlayersgeosearchpanels > ul.ui-panels-nav {
  padding: 0px 5px 10px 5px;
  border-radius: 0;
  border: none;
  background: none;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults #openlayersgeosearchpanels > ul.ui-panels-nav > li.ui-state-default {
  padding: 0;
  border-radius: 0;
  border: none;
  background: none;
  width: 100%;
  color: #FFFFFF;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults div.ui-panels-panel {
  padding: 5px 5px;
  color: #FFFFFF;
  font-size: 0.8em;
  margin-bottom: 5px;
  overflow: auto;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults h2.openlayersgeosearchpanels-title {
  font-size: 1.0em;
  font-weight: normal;
  height: 26px;
  margin-bottom: 0;
  background: #000000 url(../images/collapse-icon.png) no-repeat 95% 50%;
  opacity: 0.8;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults li.ui-tabs-active.ui-state-active h2.openlayersgeosearchpanels-title {
  font-size: 1.0em;
  font-weight: normal;
  height: 26px;
  margin-bottom: 0;
  background: #000000 url(../images/collapse-icon-2.png) no-repeat 95% 50%;
  opacity: 0.8;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults h2.openlayersgeosearchpanels-title a {
  color: #FFFFFF;
  display: block;
  padding: 5px;
  float: none;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults .geosearch-tab-description {
  float: none;
  display: block;
  width: 100%;
  white-space: normal;
  margin-bottom: 10px;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed {
  margin-bottom: 0;
  float: none;
  display: block;
  max-width: 280px;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li {
  float: none;
  display: block;
  margin: 0;
  padding: 10px 5px;
  border-bottom: thin solid #CCCCCC;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li:hover {
  border: none;
  border-bottom: thin solid #CCCCCC;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li a {
  color: #FFFFFF;
  text-decoration: underline;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li a:hover {
  text-decoration: none;
  cursor: pointer;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li div {
  display: block;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li a ,
.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li div {
  float: none;
  margin: 0;
  padding: 2px 0;
  text-transform: capitalize;
  max-width: 280px;
  white-space: normal;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li a {
  font-weight: bold;
  text-decoration: none;
}

.olMapViewport .olControlMaptext #openlayersgeosearchresults  ul.openlayers-geosearch-result-struct.panels.openlayers-geosearch-result-struct-processed li a:hover {
  text-decoration: underline;
}


/*====================================================================
 *  Maintenance Page Styles
 ====================================================================*/

.maintenance-page #page {
  width: 900px;
  margin: 10px auto;
}

.maintenance-page #page li {
  list-style-position: outside;
}

.maintenance-page #branding {
  width: 900px;
  margin: 10px auto;
  overflow: hidden;
}

.maintenance-page #branding .logo-wrapper {
  width: 300px;
  float: left;
  display: inline-block;
}

.maintenance-page #branding .logo-wrapper img {
  margin: 20px;
}

.maintenance-page #branding .page-title {
  display: inline-block;
  font-weight: normal;
  margin-left: 25px;
}

.maintenance-page #sidebar-first {
  width: 300px;
  display: inline-block;
  float: left;
}

.maintenance-page #sidebar-first .task-list {
  margin-left: 10px;
  padding: 0;
}

.maintenance-page #sidebar-first .task-list li {
  margin: 0;
  padding: 10px;
  padding-left: 40px;
  background: url(../images/task-list-icon.png) no-repeat 5px 50%;
  background-size: 25px 25px;
  list-style: none;
  list-style-position: inside;
}

.maintenance-page #sidebar-first .task-list li.done {
  background: url(../images/task-list-done.png) no-repeat 5px 50%;
  background-size: 25px 25px;
  color: #44AA00;
}

.maintenance-page #sidebar-first .task-list li.active {
  background: url(../images/task-list-active.png) no-repeat 5px 50%;
  background-size: 25px 25px;
  color: #2CA089;
  font-weight: normal;
}

.maintenance-page #content {
  width: 590px;
  display: inline-block;
  float: right;
  padding-bottom: 20px;
}

.maintenance-page #content #console {
  margin: 0 20px;
}

.maintenance-page #content #progress {
  width: 95%;
}

.maintenance-page #content form {
  padding: 0px 20px;
}

.maintenance-page #content form .form-required {
  color: #FF0000;
}

.maintenance-page #content form .item-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.maintenance-page #content form fieldset {
  padding: 20px 0;
  border: none;
  margin: 20px 0;
}

.maintenance-page #content form fieldset legend  {
  padding: 0;
  margin: 0;
}

.maintenance-page #content form fieldset legend .fieldset-legend {
  margin: 2px;
  font-size: 1.5em;
}

.maintenance-page #content form fieldset legend .fieldset-legend a.fieldset-title {
  font-size: 14px;
}

.maintenance-page #content table.system-status-report {
  width: 95%;
}

.maintenance-page #content form #system-date-types tr {
  border: none;
  background-color: transparent;
}

.maintenance-page #content form #system-date-types tr:hover {
  background: transparent;
}

.maintenance-page #content form #system-date-types tr:hover a {
  color: inherit;
}

.maintenance-page #content form #system-date-types th {
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 1.4em;
}

.maintenance-page #content form #system-date-types td {
  padding: 10px 5px;
}

.maintenance-page #content td.status-description {
  line-height: normal;
}

.maintenance-page.devtrac-installation-complete #content a {
  display: inline-block;
  padding: 10px 20px;
  padding-right: 60px;
  color: #FFFFFF;
  background-color: #44AA00;
  border-radius: 2px;
  font-size: 1.5em;
  margin-top: 20px;
  background-image: url(/html/dtone/profiles/devtrac/themes/devtrac7_theme/images/go-icon.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 25px;
}


/*====================================================================
 *  Form Page Styles
 ====================================================================*/

.page-user-me-edit .container-12 ,
.page-node-add .container-12 ,
.page-node-edit .container-12 {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}

.page-user-me-edit form ,
.page-node-add form ,
.page-node-edit form {
  border: thick solid #CCCCCC;
  padding: 50px;
}

.form-required {
  font-weight: bold;
  color: #A52A2A;
  font-size: 1.3em;
  vertical-align: middle;
}

.page-user-me-edit label ,
.page-node-add label ,
.page-node-edit label ,
.page-user-me-edit legend ,
.page-node-add legend ,
.page-node-edit legend ,
.page-user-me-edit div.field-label ,
.page-node-add div.field-label ,
.page-node-edit div.field-label {
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  padding-bottom: 5px;
  background: transparent;
}

label.option {
  display: inline;
  font-weight: normal;
  font-size: inherit;
}

.page-user-me-edit table tr ,
.page-node-add table tr ,
.page-node-edit table tr ,
.page-user-me-edit table tr.even ,
.page-node-add table tr.even ,
.page-node-edit table tr.even ,
.page-user-me-edit table tr:hover ,
.page-node-add table tr:hover ,
.page-node-edit table tr:hover {
  background: transparent;
  color: inherit;
}

.page-user-me-edit table thead ,
.page-node-add table thead ,
.page-node-edit table thead {
  border: none;
}

.page-user-me-edit table thead tr th ,
.page-node-add table thead tr th ,
.page-node-edit table thead tr th {
  background: transparent;
  color: inherit;
}

.container-inline-date .date-padding {
  padding-left: 0;
}

.chosen-container .chosen-results li.highlighted {
  background: #555555;
}

.page-user-me-edit a.helpinject-link,
.page-node-add a.helpinject-link,
.page-node-edit a.helpinject-link {
  display: none;
}

.page-node-add .vertical-tabs, 
.page-node-edit .vertical-tabs {
  display: none;
}

.page-node-edit .grid-12.region-content form.node-form .olControlZoomPanel.olControlNoSelect ,
.page-node-add .grid-12.region-content form.node-form .olControlZoomPanel.olControlNoSelect {
  left: auto;
  right: 20px;
  top: 30px;
  width: 40px;
  height: 75px;
}

.page-node-edit .grid-12.region-content form.node-form .Devtrac.sticky-enabled.sticky-table ,
.page-node-add .grid-12.region-content form.node-form .Devtrac.sticky-enabled.sticky-table {
  display: none;
}


.page-node-edit .grid-12.region-content form.node-form #cboxOverlay .Devtrac.sticky-enabled.sticky-table ,
.page-node-add .grid-12.region-content form.node-form #cboxOverlay .Devtrac.sticky-enabled.sticky-table {
  display: block;
}

.node-form .form-item .description {
  font-style: italic;
}


.collapsible .fieldset-wrapper table.field-multiple-table tbody .form-wrapper .form-item {
  width: 600px;
}

.collapsible .fieldset-wrapper table.field-multiple-table tbody .form-wrapper td .form-item {
  width: 570px;
}

.collapsible .fieldset-wrapper table.field-multiple-table tbody .form-wrapper .form-item .description {
  white-space: normal;
  line-height: 20px;
}

.olControlNoSelect.olControlEditingToolbar {
  top: 210px;
  right: 20px;
  margin: 0;
  width: 40px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton {
  float: none;
  margin: 5px;
  width: 30px;
  height: 30px;
  background-image: url("../images/map-tools-sprite.png");
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlNavigationItemActive {
  background-position: -30px -60px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlNavigationItemInactive {
  background-position: 0px -60px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlDrawFeaturePointItemActive {
  background-position: -30px 0px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlDrawFeaturePointItemInactive {
  background-position: 0px 0px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlDrupalWMSItemActive {
  background-position: -30px -30px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlDrupalWMSItemInactive {
  background-position: 0px -30px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlModifyFeatureItemActive ,
.olControlNoSelect.olControlEditingToolbar div.olButton.olControlItemActive {
  background-position: -30px -30px;
}

.olControlNoSelect.olControlEditingToolbar div.olButton.olControlModifyFeatureItemInactive ,
.olControlNoSelect.olControlEditingToolbar div.olButton.olControlItemInactive {
  background-position: 0px -30px;
}

/*===================================================================================*\
 * User Login Styles
\*===================================================================================*/

html .not-logged-in.page-user.context-user {}

html .not-logged-in.page-user.context-user .zone-content .region-content-inner {
  width: 450px;
  margin: 20px auto !important;
  border: thin solid #CCCCCC;
  padding: 20px;
  border-radius: 5px;
  background-color: #DDDDDD;
}

html .not-logged-in.page-user.context-user .zone-content .region-content-inner h1#page-title {
  /*color: #989898;*/
  color: #555555;
  font-size: 2.0em;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 10px;
}

html .not-logged-in.page-user.context-user .zone-content .region-content-inner .tabs.primary {
  margin: 0;
  border-bottom: none;
}

html .not-logged-in.page-user.context-user .zone-content .region-content-inner #block-system-main {
  padding: 10px;
  background-color: #FAFAFA;
  border-radius: 3px;
  border: thin solid #CCCCCC;
}

html .not-logged-in.page-user.context-user .zone-content .region-content-inner #block-system-main input.form-text {
  width: 100%;
}